.DS_Store
tmp/

#Ruby
.bundle/

# Golang
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

#Nim
nim/mapper
nim/nimcache

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
